---
title: Eric Hayes // CTO of MortarStone
---

<div id="eric">
  <section>
    <header>
      <h1>
        Eric Hayes
      </h1>
    </header>

    <main>
      CTO of <%= link_to 'MortarStone', 'https://mortarstone.com' %>
    </main>
  </section>
</div>
